.bold {
  font-weight: 700;
}

.btn {
  margin: 5px;
}

.description-container {
  padding: 5px 20px;
}
.card {
  padding: 10px;
  margin-bottom: 10px;
}
.center-text {
  text-align: center;
}
.text-white {
  font-weight: 900;
  color: white;
}
