@import "../../variables.scss";

.main-container {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  z-index: 100;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.7;
}

.background.visble {
  display: block;
}
.background.hidden {
  display: none;
}

.sidepanel {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #f8f8f8;
  overflow-x: hidden;
  transition: 0.5s;
  border-right: none;
  border-radius: 5px 0 0 5px;
}

.closebtn {
  padding-left: 7px;
  padding-right: 17px;
  font-weight: 900;
  cursor: pointer;
  margin: 5px;
  width: 10px;
  color: black;
  font-weight: 900;
}
.closebtn:hover {
  color: $primary-color;
}

.spinner-container {
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  position: absolute;
  color: $primary-color;
}
.spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.header-container {
  display: flex;
  flex-direction: row;
}
.header-name {
  text-align: center;
  width: 100%;
  text-shadow: 0 0 2px black;
  color: #ffe81f;
  margin-top: 5px;
}
