<div class="container card">
  <form>
    <div class="form-group">
      <div class="logo-container">
        <img src="../../../assets/logo.png" class="logo" />
      </div>
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
        required
        (keyup)="emailKeyUp()"
        #email
      />
      <small id="emailHelp" class="form-text text-center error">{{
        emailError
      }}</small>
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter password"
        required
        (keyup)="passwordKeyUp()"
        #password
      />
      <small id="passwordHelp" class="form-text text-center error">{{
        passwordError
      }}</small>
      <br />
      <div
        class="text-center"
        [ngClass]="isFormSendSuccess ? 'success' : 'error'"
      >
        {{ formError }}
      </div>
      <!--login errors-->
      <button
        type="submit"
        class="btn btn-primary disabled"
        (click)="submit($event)"
        #submitBtn
        id="submitBtn"
      >
        {{ isSignIn ? "Sign In" : "Sign Up" }}
      </button>
    </div>
  </form>
  <button
    id="changeMethodBtn"
    class="btn btn-secondary"
    (click)="switchSignMethod()"
  >
    {{ isSignIn ? "Sign Up" : "Sign In" }}
  </button>
  <button class="btn btn-secondary" (click)="loginWithGoogle()">
    Login with Google
  </button>
</div>
